@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




  
.quicksand-quick {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }
  
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Quicksand;}
header{ width: 100%;
}

img{width: 100%;}

.font20{font-size: 1.24rem;}

.font-skyblue{color: #01ACFD;
}
.font-orange{color: #FEA301;}
.font-black{color:#111111}
.description{
    font-family: raleway;
font-weight: 500;
font-size: .9rem;
color: rgb(128, 128, 128);
}
.bg-primary{


}

.bg-secondary{

}
.orange{background-color: #FEA301;}



.button-primary{
font-size: 1.25rem;
color: white;
border-radius: 12px;
border: none;
padding: 8px 30px;

}

.button-secondary{

}


.color1{

}
.color2{}


title{

}


.display-flex{
    display: flex;
}

.display-none{display:  none;}





/* nav */
.logo{
    height: 62px;
    width: 62px;
}
.logo{
    font-size: 2rem;
}


.header{width: 100%;  
    }

.nav{
    width: 85%;
    margin: 0px auto;
    padding: 35px 0px;
    align-items: center;
    justify-content: space-between;
}
.logo-title-container{
    align-items: center;
}
.nav-items{ width:35%;
list-style: none;
    display: flex ;
justify-content: space-between;}
.nav-button{font-weight: 600;
}
ul > li:nth-child(1){
   font-weight: 700;
}
ul > li:nth-child(2){
   font-weight: 500;
}
ul > li:nth-child(3){
    color: rgb(5, 212, 223);
   font-weight: 500;
}
ul > li:nth-child(4){
    color:rgb(93, 88, 239);
   font-weight: 500;
}
.hamberger{width: 35px;
height: 35px;}


hr{border: .7px solid orange;
margin-top: -30px;}


 /* banner */
.banner{
   width: 85%;
   margin: 0px auto;
align-items: center;
justify-content: space-between;
/* gap: 30px; */
}
.banner-btn{background-color: #111111;
font-weight: 700;}

.banner-title{
    font-size: 4rem;
    font-weight:    700px;
}
.banner-img>img{
    width: 100%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: space-between;
}

/* main */
.main{background:url('../assets/bg.png');
   
}
.curriculum{
    width: 85%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
}
.hero-title{ 
    font-size: 2.9rem;
    font-weight: bold;
   
}
.hero-card-container{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,500px);
gap: 60px;
}
.card-img{width: 130px;
height: 125px;
}
.card-title{font-size: 1.67rem;}

.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 50px 40px;
    border-radius: 18px;
    justify-content: space-between;
}
.card1{
  
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
border: 0.94px solid rgb(222, 245, 255);
}

.card2{background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
border: 0.94px solid rgb(255, 244, 220);}
.card3{
 background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 border: 0.94px solid rgb(242, 232, 255);
}
.card1 >.card-button{
    color: rgb(100, 200, 255) ;
    font-weight: 700;
}
.card2 >.card-button{
    color: rgb(240, 170, 0);
    font-weight: 700;
}
.card3 >.card-button{
    color:  rgb(135, 0, 255);
    font-weight: 700;
}

.hero-button-container{
    gap: 20px;
}
.hero-button{
    color: white;
    font-size: 2.7rem;
    padding: 4px 20px;
    border-radius:90%;
    
}
/* stories */
.stories{
    width: 85%;
    margin: auto;
    text-align: center;
}


























































/* Media */

@media screen and (max-width:390px){
    .nav-items , .heading-title , .button-nav{display: none;}
    .logo img{
        height: 50px;
        width: 50px;
    }
    hr{margin-bottom: 20px;}
    .banner-title{font-size: 32px;
    margin: 0 auto;}
    .banner-description{font-size: 14px;}
    .banner-btn{font-size: 16px;}
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        padding-bottom: 20px;}
        .curriculum{margin: 40px 0;
        }
.hero-card-container{
    grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(3, 450px);
   gap: 25px;

}
.box{justify-content: space-between;
gap: 25px;}
.hero-button-container{display: none;}
    .hamberger, .hr{display: block;}
    .nav ,.banner, .curriculum{
        width: 95%;
        margin: 0px auto;}
        .hero-title{
            font-size: 1.7rem;
        }
        .card-title{ font-size: 1rem;}
        .card-description,
        .card-button{font-size: .75rem ;}
}