@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




  
.quicksand-quick {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-style: normal;
    
  }
  
*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Quicksand;}
a{text-decoration: none;}
header{ width: 100%;
}

img{width: 100%;}

.font20{font-size: 1.24rem;}

.font-skyblue{color: #01ACFD;
}
.font-orange{color: #FEA301;}
.font-black{color:#111111}
.description{
    font-family: raleway;
font-weight: 500;
font-size: .9rem;
color: rgb(128, 128, 128);
}

.orange{background-color: #FEA301;}



.button-primary{
font-size: 1.25rem;
color: white;
border-radius: 12px;
border: none;
padding: 8px 30px;}



.display-flex{
    display: flex;
}

.display-none{display:  none;}





/* nav */
.logo{
    height: 62px;
    width: 62px;
}
.logo{
    font-size: 2rem;
}


.header{width: 100%;  
    }

.nav{
    width: 85%;
    margin: 0px auto;
    padding: 35px 0px;
    align-items: center;
    justify-content: space-between;
}
.logo-title-container{
    align-items: center;
}
.nav-items{ width:35%;
list-style: none;
    display: flex ;
justify-content: space-between;}
.nav-button{font-weight: 600;
}
ul > li:nth-child(1){
   font-weight: 700;
}
ul > li:nth-child(2){
   font-weight: 500;
}
ul > li:nth-child(3){
    color: rgb(5, 212, 223);
   font-weight: 500;
}
ul > li:nth-child(4){
    color:rgb(93, 88, 239);
   font-weight: 500;
}
.marquee{
    width: 50%;
    margin: 0 auto;
    font-weight: 600;
    
}
.marquee>marquee{
    color: red;
    margin-top: 10px;
    
}

.hamberger{width: 35px;
height: 35px;}


hr{border: .7px solid orange;
margin-top: -30px;}


 /* banner */
.banner{
   width: 85%;
   margin: 0px auto;
align-items: center;
justify-content: space-between;
/* gap: 30px; */
}
.banner-btn{background-color: #111111;
font-weight: 700;}

.banner-title{
    font-size: 4rem;
    font-weight:    700px;
}
.banner-img>img{
    width: 100%;
}
.banner-content{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: space-between;
}

/* curriculum */

.curriculum{
    width: 85%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 130px;
    background:url('../assets/bg.png')
}

.title{ 
    font-size: 2.9rem;
    font-weight: bold;
   
}
.hero-card-container{
  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,500px);
gap: 60px;
}
.card-img{width: 130px;
height: 125px;
}
.card-title{font-size: 1.67rem;}

.card{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    padding: 50px 40px;
    border-radius: 18px;
    justify-content: space-between;
}
.card1{
  
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
border: 0.94px solid rgb(222, 245, 255);
}

.card2{background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
border: 0.94px solid rgb(255, 244, 220);}
.card3{
 background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 border: 0.94px solid rgb(242, 232, 255);
}
.card-button1{
    color: rgb(100, 200, 255) ;
    font-weight: 700;
}
.card-button2{
    color: rgb(240, 170, 0);
    font-weight: 700;
}
.card-button3{
    color:  rgb(135, 0, 255);
    font-weight: 700;
}

.hero-button-container{
    gap: 20px;
}
.hero-button{
    color: white;
    font-size: 2.7rem;
    padding: 4px 20px;
}
.left-chevron-arrow{border-radius: 50%;}
.right-chevron-arrow{border-radius: 50%;}
.left-chevron-arrow:hover{
    background-color: skyblue;
    transform: scale(.9);
}
.right-chevron-arrow:hover{
    background-color: skyblue;
    transform: scale(.9);
}
/* stories */

.stories{
    width: 100%;
    background:url('../assets/bg.png'),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);;
}
.full-story-container{
    width: 85%;
    margin: 0 auto;
    height:fit-content;
    padding: 60PX 0;

}
.stories-button,
.story-title{text-align: center;}
.story-card-container{
    display: flex;
    gap: 1.7%;
    margin: 80px auto;
}

.box1,
.box2{
    height: 750px;
    flex: 1;
}
.main-story{
    position: relative;
}
.stories-img>img,
.box2 img{
    border-radius: 16px 16px 0 0;
}
.box1{
    background-color: white;
    border-radius: 16px; 
}




.main-story-content{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 110%;
    left: 15%;
    gap: 70px;
}
.secondary-story{
    position: relative;
}
.date1{
position: absolute;
background-color:  rgb(60, 216, 232);
width: fit-content;
    padding: 10px 20px;
    border-radius: 47px;
    top: 95%;
    left: 15%;
}

.date2{
    position: absolute;
background: rgb(149, 178, 38);
top: 64%;
    left: 15%;
}
.date3{
position: absolute;
background: rgb(93, 88, 240);
top: 62%;
    left: 15%;
}
.date4{
    position: absolute;
background-color: aquamarine;
top: 60%;
    left: 15%;
}
.date5{
    position: absolute;
background-color:blueviolet;
top: 60%;
    left: 15%;
}
.date{width: fit-content;
    padding: 10px 20px;
    border-radius: 47px;
}


.box2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.7%;
}

.secondary-story{
    background-color: white;
    border-radius:16px;
}


.footer{width: 100%;
   
background-color:rgba(108, 226, 116, 0.818);
display: flex;
} 

.footer-container{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    height:40vh;
    width: 85%;
margin: 0 auto;
justify-items: center;
margin-top: 10%;
color: white;
gap: 15%;

}
.menu{
display: flex;
flex-direction: column;
gap: 1.5vh;
font-weight: 500;
}
.footer-title{
    font-size: 2.6rem;
    font-weight: 700;
    line-height: 2.6rem;
}
.footer-logo-container{
    display: flex;
    align-items: center;
}

.footer-logo-container>img{width: 75px;
height: 75px;}
.icon-container>img{width: 40px;
height: 40px;}
.icon-container{
    display: flex;
    gap: 5%;
}
.culumn1{display: flex;
flex-direction: column;
gap: 5vh;}
.culumn2{display: flex;
flex-direction: column;
gap: 5vh;
}
.culumn3{display: flex;
flex-direction: column;
gap: 5vh;

}
.column3-title{
    font-size: 1.75rem;
}
/* Media */

@media screen and (max-width:390px){
    .nav-items , .heading-title , .button-nav{display: none;}
    .logo img{
        height: 50px;
        width: 50px;
    }
    .button-primary{
        font-size: 1rem;
    }
    
    hr{margin-bottom: 20px;}
    .marquee{
        width: 95%;
    }
    .banner-title{font-size: 32px;
    margin: 0 auto;}
    .banner-description{font-size: 14px;}
    .banner-btn{font-size: 16px;}
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
        padding-bottom: 20px;}
        .curriculum{margin: 40px auto;
        text-align: center;}
        #standard{margin-top: 40px;
       font-size: 1.7rem; }
.hero-card-container{
    margin-top: -80px;
    grid-template-columns: repeat(1,1fr);
   grid-template-rows: repeat(3, 450px);
   gap: 25px;

}
.card{justify-content: space-between;
gap: 25px;}
.hero-button-container{display: none;}
    .hamberger, .hr{display: block;}
    .nav ,.banner, .curriculum{
        width: 95%;
        margin: 0px auto;}
        
        
        .hero-title{
            font-size: 1.7rem;
        }
        .full-story-container{
            width: 95%;
        }
        .date,
        .date{font-size: .9rem;}
        .box1,
.box2{
    height: 500px;
    flex: 1;
}
        .card-title{ font-size: 1rem;}
        .card-description,
        .card-button{font-size: .75rem ;}
        .box1{display: none;}
      
            .main-story-container{
               
            }
        .date{display: none;}
      
/* footer */
     
        .footer-container{
            gap: 0;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 95%;
            height: fit-content;
            padding-bottom: 7%;
            justify-items:flex-start;
            align-content: center;
        }
    
    .menu{
font-size: 1rem;
    gap: 1vh;
    font-weight: 400;
    }
    .footer-title{
        font-size: 1.92rem;
        font-weight: 700;
        line-height: 1.8rem;
    }
    #footer-description{
        margin-top: 1vh;
        font-size: 1rem;
    }
    
    .footer-logo-container>img{width: 50px;
    height: 50px;}
    .icon-container>img{width: 30px;
    height: 30px;}
    .icon-container{
        display: flex;
        gap: 3%;
    }
    #culumn2-title{
        margin-top: 2vh;
        font-size: 1.24rem;
    }
    .culumn1{
    gap: 2vh;}

    .culumn2{
    gap: 2vh;
    
    }
    .culumn3{
        margin-top: 2vh;
    gap: 2.1vh;
    
    }
    .column3-title{
        font-size: 1.3rem;
    }
}